{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
	"overrides": [
		{ "files": ["**/*.ts", "**/*.tsx"] },
		{ "files": ["src/controllers/**/*.ts"], "rules": { "max-params": "off" } }
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": true
	},
	"root": true,
	"plugins": ["@typescript-eslint", "import"],
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"varsIgnorePattern": "^_",
				"argsIgnorePattern": "^_",
				"ignoreRestSiblings": true
			}
		],
		"@typescript-eslint/no-unnecessary-condition": "error",
		"@typescript-eslint/no-floating-promises": "error",
		"no-shadow": "off",
		"@typescript-eslint/no-shadow": "error",
		"require-await": "off",
		"@typescript-eslint/require-await": "error",
		"no-nested-ternary": "error",
		"max-params": ["error", 10],
		"@typescript-eslint/consistent-type-imports": "error",
		"import/newline-after-import": ["error", { "count": 1 }],
		"import/order": [
			"error",
			{
				"groups": ["type", ["builtin", "external"], "parent", "sibling", "index"],
				"alphabetize": {
					"order": "asc"
				},
				"newlines-between": "always"
			}
		],
		"@typescript-eslint/no-non-null-assertion": "error"
	}
}
